# Node modules and lockfiles
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime / OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build / output
dist/
build/
coverage/
.cache/

# Packages
*.tgz

# Misc
*.log